[Desktop Entry]
Type=Application
Name=Darkcat
GenericName=Darknet Crawler
Comment=Multi-protocol darknet & overlay-network crawler (Tor, I2P, IPFS, Freenet, Lokinet, Gemini, Gopher and more)
Exec=darkcat gui
TryExec=darkcat
Icon=darkcat
Terminal=false
Categories=Network;Security;FileTransfer;
Keywords=tor;onion;i2p;ipfs;freenet;gemini;gopher;darknet;crawler;
StartupNotify=true
